.header {
    padding: 0%;
  }
.first_container {
    background-image: url('im/image3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}
.sec_container {
  background-image: url('im/image4.jpg');
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}
.third_container {
  background-image: url('im/image1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
  }
  footer #copyright{
    display: block;
  }

.text1{
    font-size: 80px;
    font-style: bold;
}